[submodule "YieldiFi-Onchian/lib/openzeppelin-contracts"]
	path = YieldiFi-Onchian/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "YieldiFi-Onchian/lib/aave-v3-core"]
	path = YieldiFi-Onchian/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "YieldiFi-Onchian/lib/v3-periphery"]
	path = YieldiFi-Onchian/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "YieldiFi-Onchian/lib/v3-core"]
	path = YieldiFi-Onchian/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/openzeppelin-contracts"]
	path = YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/aave-v3-core"]
	path = YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/v3-core"]
	path = YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/v3-periphery"]
	path = YieldiFi-Onchain/lib/YieldiFi-Onchain/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
